set_io		clk_in	20
set_frequency	clk_in	133

set_io		A[31]	73
set_io		A[30]	74
set_io		A[29]	75
set_io		A[28]	76
set_io		A[27]	78
set_io		A[26]	79
set_io		A[25]	80
set_io		A[24]	81
set_io		A[23]	82
set_io		A[22]	83
set_io		A[21]	84
set_io		A[20]	85
set_io		A[19]	87
set_io		A[18]	88
set_io		A[17]	90
set_io		A[16]	91
set_io		A[15]	113
set_io		A[14]	112
set_io		A[13]	110
set_io		A[12]	107
set_io		A[11]	106
set_io		A[10]	105
set_io		A[9]	104
set_io		A[8]	102
set_io		A[7]	101
set_io		A[6]	99
set_io		A[5]	98
set_io		A[4]	97
set_io		A[3]	96
set_io		A[2]	95
set_io		A[1]	94
set_io		A[0]	93

set_io		DRAMA[11]	37
set_io		DRAMA[10]	42
set_io		DRAMA[9]	39
set_io		DRAMA[8]	38
set_io		DRAMA[7]	41
set_io		DRAMA[6]	43
set_io		DRAMA[5]	44
set_io		DRAMA[4]	45
set_io		DRAMA[3]	47
set_io		DRAMA[2]	48
set_io		DRAMA[1]	49
set_io		DRAMA[0]	52

set_io		nRAS[3]	55
set_io		nRAS[2]	56
set_io		nRAS[1]	61
set_io		nRAS[0]	60
